{% extends 'base.html' %}
{% block title %}Post details{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-12">
    <div class="card mx-2" style="background-color: rgb(217, 197, 168);">
        <div class="card-body rounded mt-3 ">
            <img src="{{object.image.url}}" class="card-img-top rounded w-75" alt="Car">
            <div class="card-body" style="background-color: darkgray; margin-top: 5px;">
                <h3 class="card-title">{{object.car_name}}</h3>
                <h6>Car-price : {{object.car_price}} tk</h6> 
              <p class="card-text">Quantity : {{object.quantity}}</p>
              <p class="card-text">Brand : {{object.brand}}</p>
              <p class="card-text">Description : {{object.description}}</p>
            </div>
            <div class="card-body">
              <a href="{% url 'brought_car' object.id %}" class="card-link btn btn-success text-decoration-none">Buy Now</a>
            </div>
          </div>
    </div>
</div>

<div class="card m-2">
    <h5 class="p-3">Total Comments : {{comments | length}}</h5>
    {% for cmt in comments %}
    <div class="card-body border m-2">
        <p><b>{{cmt.name}}</b>{{cmt.created_on}}</p>
        <p>{{cmt.body}}</p> 
    </div>
    {%endfor%}
</div>

<div class="card m-2 " style="background-color: rgb(175, 202, 202);">
    <div class="card_body m-3 w-75 ">
        <form method="post" class="">
            {% csrf_token %}
            {{comment_form | crispy}}
            <button class="btn btn-success" type="submit">submit</button>
        </form>
    </div>
</div>
{% endblock %}